
### BASICS ###


numpy==1.23.5
pandas==2.0.2
pandocfilters==1.5.0
imageio==2.31.0
python-dotenv==1.0.0
fastjsonschema==2.17.1
Markdown==3.4.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
rasterio==1.3.7
rio-tiler==5.0.0
rsa==4.9
pickleshare==0.7.5
Pillow==9.5.0
pygmt==0.9.0
pylint==2.17.4
pystac-client==0.6.1
pytest==7.3.1
python-dateutil==2.8.2


### API ###

uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.16
uvicorn==0.22.0
fastapi==0.95.2
requests==2.31.0
requests-oauthlib==1.3.1


### GOOGLE EARTH ###

earthengine-api==0.1.355
ee==0.2
geetools==0.6.14


### GCP ###

google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0


### JUPYTER ###

## For Windows ##
# jupyter==1.0.0
# jupyter-console==6.6.3
# jupyter-contrib-core==0.4.2
# jupyter-contrib-nbextensions==0.7.0
# jupyter-events==0.6.3
# jupyter-highlight-selected-word==0.2.0
# jupyter-nbextensions-configurator==0.6.1
# jupyter-resource-usage==0.7.2
# jupyter-server==1.24.0
# jupyter-ydoc==0.2.4
# jupyter_client==8.2.0
# jupyter_core==5.3.0
# jupyter_server_fileid==0.9.0
# jupyter_server_terminals==0.4.4
# jupyter_server_ydoc==0.8.0
# jupyterlab==3.6.3
# jupyterlab-pygments==0.2.2
# jupyterlab-widgets==3.0.7
# jupyterlab_server==2.22.1
# jupyterthemes==0.20.0

## For Mac ##
# 1. Create a jupyter.txt in you lewagon venv.
# 2. Add the following:
# # jupyter-contrib-core==0.4.0
# # jupyter-contrib-nbextensions==0.5.1
# # jupyter-highlight-selected-word==0.2.0
# # jupyter-latex-envs==1.4.6
# # jupyter-nbextensions-configurator==0.5.0
# # jupyter-resource-usage==0.6.3
# # jupyter-server==1.21.0
# # jupyter_client==7.4.3
# # jupyter_core==4.11.2
# # jupyterlab==3.4.8
# # jupyterlab-pygments==0.2.2
# # jupyterlab-widgets==1.1.1
# # jupyterlab_server==2.16.1
# 3. in your project venv: pip install -r jupyter.txt


### TENSORFLOW ###

# tensorboard==2.12.3
# tensorboard-data-server==0.7.0
# tensorflow==2.12.0
# tensorflow-estimator==2.12.0
# tensorflow-io-gcs-filesystem==0.32.0

## Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1 ##
# tensorflow-macos==2.12.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
# tensorflow==2.12.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
# tensorflow==2.12.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
